/* @media (min-width: 767px) and  (max-width: 768px) {  
  .baner-circle {
    display: none;
  }
  .carousel-item  img {
    width: 625px;
    height: 300px;
  }
  .slide-tagline,
  .slide-tagline-1 {
    font-size: 14px;
    left: 145px;
    top: 95px;
    letter-spacing: 0;
  }
  .slide-tagline-1 {
    font-size: 10px;
    top: 141px;
    left: 150px;
    border: 1px solid;
  }
  hr {
    height: 0.7px;
    top: 97px;
    width: 119px;
    left: 125px;
  }
  .slide-style {
    top: 119px;
    left: 130px;
    font-size: 10px;
  }
  .carousel-indicators {
    right: 11px;
    top: 285px;
    }
    .carousel-indicators li {
      width: 5px;
      height: 5px;
      margin-right: 0;
      margin-left: 3px;
    } 
.header-menu_nav {
  bottom: 400px;
  right: 14px;
  width: 624px;
  height: 30px;
}
.navbar-btn {
  font-size: 20px;
  left: 110px;
}
.logo {
  font-size: 18px;
  left: 245px;
}
.login {
  top: 0px;
  right: 60px;
  font-size: 16px;
}
.carrinho img {
  height: 16px;
  right: 19px;
  top: 3px;
}
.circle-nav {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 27px;
}
span p {
  font-size: 10px;
  right: 28px;
}
.main-item img,
.main-item-3{
  width: 100px;
  height: 150px
}
.seta-left img{
  bottom: 370px;
  left: 80px;
  height: 10px;
  width: 60px;
}
.seta-right img{
  bottom: 370px;
  left: 330px;
  height: 10px;
  width: 60px;
}
.slogan p {
  left: 150px;
  bottom:345px;
  font-size: 17px;
}
/* .slide {
  width: 570px;
}
.main-item {
  top: 20px;
} */
/* .main-product-wrapper {
  position: relative;
  /* display: inline; */
  /* margin: 0;
  bottom: 340px;
  right: 5px;
}
.prev-left  {
  left: -20px;
  top: 63px;
} */
/* }  */
  /* body,
  .baner-block {
    width: 767px;
  }
  .baner {
    width: 433px; 
    height: 12px;
  } */
  /* .baner-circle {
    display: none;
  }
.baner-title {
  font-size: 8px;
  text-align: center;
}
.slide-tagline,
.slide-tagline-1 {
  font-size: 14px;
  left: 54px;
  top: 95px;
  letter-spacing: 0;
}
.slide-tagline-1 {
  font-size: 10px;
  top: 141px;
  left: 62px;
  border: 1px solid;
}
.carousel-item  img {
  width: 433px;
  height: 220px;
}
hr {
  height: 0.7px;
  top: 97px;
  width: 119px;
  left: 35px;
}
.slide-style {
  top: 119px;
  left: 39px;
  font-size: 10px;
}
.carousel-indicators {
right: 332px;
top: 200px;
}
.carousel-indicators li {
  width: 5px;
  height: 5px;
  margin-right: 0;
  margin-left: 3px;
} */
/* .header-menu, */
/* .header-menu_nav {
  width: calc( 100% - 334px);
  height: 25px;
  bottom: 480px;
}
.logo {
  font-size: 15px;
  left: 169px;
}
.login {
    top: 0px;
    right: 50px;
    font-size: 14px;
}
.carrinho img {
  height: 14px;
  right: 13px;
  top: 3px;
}
.circle-nav {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 23px;
}
};  */ 


@media(min-width: 768px) and (max-width: 1200px) {
  
}

@media(max-width: 767px)  {
  main {
    height: 1560px;
  }
  .baner-circle {
    display: none;
  }
  .slide-tagline,
  .slide-tagline-1 {
    font-size: 14px;
    left: 145px;
    top: 95px;
    letter-spacing: 0;
  }
  .slide-tagline-1 {
    font-size: 10px;
    top: 141px;
    left: 150px;
    border: 1px solid;
  }
  hr {
    height: 0.7px;
    top: 97px;
    width: 119px;
    left: 125px;
  }
  .slide-style {
    top: 119px;
    left: 130px;
    font-size: 10px;
  }
  .carousel-item img {
    max-width: 767px;
    max-height: 458px;
  }
  .carousel-indicators li {
    width: 5px;
    height: 5px;
    margin-right: 0; 
    margin-left: 3px; 
    left: 20px;
  } 
.header-menu_nav {
  height: 40px;
  max-width: 767px;
}
.navbar-btn {
  left: 20px;
}
.logo {
  left: 315px;
}
.login {
  right: 75px;
}
.carrinho img {
  right: 20px;
}
.circle-nav {
  right: 23px;
}
span p {
  right: 24px;
}
.seta-left img{
  left: 164px;
  height: 10px;
  width: 50px;
} 
.seta-right img{
  left: 480px;
  height: 10px;
  width: 50px;
}
.slogan p {
  left: 245px;
  font-size: 21px;
  z-index: 0;
} 
.main-product-wrapper {
  display: flex;
  max-width: 767px;
  max-height: 330px;
  margin-top: 50px;
  margin-left: 33px;
} 
.main-item img, a.rollover {
  max-width: 114px;
  max-height: 230px;
  padding-right: 7px;
}
 .prev-left {
  color: #000000;
  left: 20px;
  top: 110px;
}  
.prev-right {
  color: #000000;
  left: 95px;
  top: 110px;
}  
.products-icon img {
  position: relative;
  top: 10px;
  left: 315px;
}
.products_container {
  width: 740px;
  height: 830px;
  margin-left: 30px;
  margin-top: 35px;
}
.product-gallery {
  display: grid;
  grid-template-columns: 200px 150px 150px 150px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 14px;
}
.gallery__item-block a {
  font-size: 15px;
  height: 22px;
  bottom: 120px;
  width: 145px;
}
.seta-left-2 img,
.seta-right-2 img{
  position: absolute;
  left: 200px;
  top: -175px;
  height: 10px;
  width: 60px;
}
.seta-right-2 img {
  left: 475px;
  top: -174px;
  height: 10px;
  width: 60px;
}
.slogan-2 p {
  font-size: 15px;
  left: 276px;
  top: -182px;
}
.instagram-container {
  position: absolute;
  width: 700px;
  height: 140px;
  margin: 0;
  padding: 0;
  left: 30px;
  top: -127px;
}
.instagram-container__foto,
 .instagram-container__foto-1{
  height: 135px;
  width: 135px;
  background-color: #6d6e71;
}
.instagram-foto-wrap {
  width: 135px;
  height: 135px;
}
.main-product-slogan-3 {
  position: relative;
  bottom: 340px;
  right: 390px;
}
.quem-container {
  position: absolute;
  width: 705px;
  margin: 0;
  padding: 0;
  left: 35px;
  top: -220px;
}
.quem-container__foto,
.quem-container__foto-1,
.quem-foto-wrap {
  height: 170px;
  width: 170px;
}
.footer {
  /* position: relative; */
  bottom: 420px;
  width: 705px;
  background-color: #ffffff;
  margin-left: 35px;
  margin-top: 485px;
}
.footer-arrow-righ {
  border-top: 23px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #000000;
  margin-left: 136px;
}
.footer-item-1,
.footer-item-2{
  width: 136px;
  height: 47px;
}
.footer-item-1__text {
  font-size: 13px;
  left: 15px;
}
.footer-item-2__text{
  left: 65px;
  font-size: 13px;
}
.footer-item-2 {
  left: 165px;
  width: 185px;
}
.footer-item-3 {
  width: 220px;
  left: 357px;
  height: 47px;
}
.footer-item-3__text {
  left: 40px;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
}
.footer-item-4 {
  width: 120px;
  right: 0px;
  height: 42px;
}
.footer-item-4__text{
  left: 14px;
  font-size: 13px;
  letter-spacing: 1px;
}
.links-block {
  top: 40px;
  width: 780px;
  position: relative;
}
.text-item-1 {
  left: 35px;
}
.text-item-2 {
  left: 115px;
}
.text-item-3 {
  left: 210px;
}
.text-item-4 {
  left: 390px;
}
.links-block-icon {
  left: 655px;
}
.navigation-wrap, .basket-wrap {
  width: 370px;
  height: 630px;
}
.navigation-block,
.navigation-block-search  {
  width: 365px;
}
.navigation-block-text {
  left: 55px;
}
.navigation-block-search input {
  width: 227px;
  left: 55px;
}
.class-unit {
  width: 365px;
}
.filter-wrap {
  position: relative;
  width: 365px;
}
.category-block-1, .category-block-2, .category-block-3, .category-block-4{
  position: absolute;
  width: 365px;
}
.class-unit-text, .category-text {
  left: 40px;
}
.links-unit-icon .fab {
  left: 245px;
  top: 450px;
}
.basket-wrap {
  right: 0px;
}
.navigation-block, .basket-block,
.goods-1, .goods-2  {
  width: 367px;
}
.total-block {
  width: 364px;
}
.total-continuar {
  width: 180px;
}
.total-checkout {
  width: 160px;
}
}