body {
  position: relative;
  overflow-x: hidden;
}
main {
  background-color: #ffffff;
}
.baner-block {
  width: 1600px;
}
.baner {
  position: relative;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
}
.baner-title {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.circle, .circle-1 {
  position: relative;
  display:inline-block;
  background: #c5c5c5;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.circle-1 {
  background: #000000;
}
.baner-circle {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 180px;
}
.carousel-inner {
  height: 700px;
  background-color: #ffffff;
}
.slide {
  position: relative;
}
.slide-tagline, .slide-tagline-1 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  z-index: 1;
  font-weight: 500;
  font-size: 30px;
  top: 275px;
  left: 160px;
}
.slide-tagline {
  letter-spacing: 5px;
}
.slide-tagline-1 {
  top: 385px;
  font-size: 20px;
  font-weight: 500;
  border:2px solid #000000;
  padding: 1px 10px 1px 10px;
  left: 217px;
}
.slide-style {
  position: absolute;
  z-index: 1;
  top: 330px;
  font-family: 'Courier New', sans-serif;
  font-size: 20px;
  left: 165px;
}
 hr {
   position: absolute;
  border: none;
  background-color: #000000;
  height: 1.25px;
  top: 300px;
  z-index: 1;
  width: 275px;
  left: 138px;
}
.vertical-slider {
  background-color: black;
  width: 1600px;
}
.carousel-indicators li {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #ffffff;
  border: 1px solid 0.7;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #000000;
}
.header-menu_nav {
  position: relative;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border: none;
}
.navbar-btn {
  position: absolute;
  padding: .25rem .75rem;
  left: 185px;
  font-size: 33px;
  line-height: 1;
  background-color: transparent;
  border: none;
}
button, 
button:active, 
button:focus {
  outline: none;
}
.logo {
  position: absolute;
  font-family:'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  left: 680px;
}
.login {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  top: 5px;
  right: 340px;
}
.carrinho img{
  position: absolute;
  right: 280px;
  height: 24px;
  top: 10px;
  z-index: 21;
}
span p{
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  right: 301px;
  font-weight: 500;
  color: #000000;
  z-index: 21;
}
.circle-nav {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 300px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 21;
}
.main-product-wrapper {
  display: flex;
  width: 1280px;
  height: 420px;
  margin-top: 60px;
  margin-left: 185px;
}
.main-item img {
  width: 190px;
  height: 325px;
  padding-right: 15px;
}
.main-item:nth-child(4) {
  padding-left: 15px;
}
.prev-left {
  position: absolute;
  color: #d1d1d1;
  left: 160px;
  top: 155px;
}
.prev-left i, .prev-right i{
  font-size:30px;
}
.prev-right {
  position: absolute;
  color: #d1d1d1;
  right: 175px;
  top: 155px;
}
.cost {
  font-family:'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}
.main-product-slogan {
  position: relative;
  left: 60px;
}  
.seta-left img {
  position: absolute;
  bottom: 20px;
  left: 490px;
}
.seta-right img {
  position: absolute;
  bottom: 20px;
  left: 860px;
}
.slogan p {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 25px;
  left: 580px;
  bottom: -8px;
}
a.rollover {
  background: url(./img/bg-produto-3.png);
  display: block;
  width: 185px;
  height: 325px;
} 
a.rollover:hover {
  background: url(./img/bg-produto-3.2.png);
}
.main-item-3 p{
  position: absolute;
  opacity: 0;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: 1px solid;
  letter-spacing: 5px;
}
.main-item-3:hover p{
  opacity: 1;
  height: 30px;
  width: 185px;
  bottom: 80px;
  background-color: #4d4c4c;
  cursor: pointer;
}
/* блок categoriasDestaque */
.gallery__item-block,
.gallery__item-block-1 {
  position: relative;
}
.gallery__item-block a{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  width: 275px;
  height: 30px;
  bottom: 215px;
  text-align: center; 
  text-shadow: #000000 3px 0 0;
  letter-spacing: 5px;
} 
.gallery__item--1 a,
.gallery__item--2 a{
  position: absolute;
  left: 25%;
}
.gallery__item--3 a,
.gallery__item--6 a{
  position: absolute;
  left: 35%;
}
.gallery__item--4 a,
.gallery__item--5 a{
  position: absolute;
  left: 10%;
}
.gallery__item,
.gallery__item-1 {
  margin: 0;
  padding: 0;
}
.gallery__item:hover a{
  opacity: 1;
  cursor: pointer;
  text-shadow: #595959 5px 0 0;
} 
.gallery__item-1:hover a {
  opacity: 1;
  cursor: pointer;
}
.gallery__item-link span{
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  text-shadow:none;
}
.gallery__img:hover {
  opacity: 0.6;
}
.gallery__img-1, 
.gallery__img {
  width: 100%;
  height: 100%;
}
.gallery__item-title h3{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

/* grid товаров */
.products-icon img {
  position: relative;
  bottom: 30px;
  left: 680px;
}
.products_container {
  width: 1280px;
  height: 1400px;
  margin-left: 130px;
}
.product-gallery {
  display: grid;
  grid-template-columns:300px 300px 300px 300px;
  grid-template-rows: 450px 450px 450px;
  grid-gap:20px;
}
.gallery__item {
  margin: 0;
  padding: 0;
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block; 
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #000000;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.gallery__item--4 {
  grid-column-start:4;
  grid-column-end: 4;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.gallery__item--6 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.instagram {
  position: relative;
  width: 1280px;
  height: 280px;
}
.instagram-container {
  position: absolute;
  width: 1265px;
  height: 280px;
  margin: 0;
  padding: 0;
  left: 130px;
  top: 110px;
}
.instagram-container-wrap {
  display: flex;
  justify-content: space-between;
}
.instagram-container__foto {
  height: 225px;
  width: 225px;
  background-color: #6d6e71;
  padding: 0;
  margin: 0;
}
.main-product-slogan-2 {
  position: relative;
   width: 440px;
   height: 40px; 
}
.slogan-2 p{
  position: absolute;
  width: 300px;
  height: 40px;
  font-family: 'Myriad Pro';
  font-size: 20px;
  left: 665px;
  top: 47px;
  margin: 0;
  padding: 0;
}
.seta-left-2 img,
.seta-right-2 img{
  position: absolute;
  left: 580px;
  top: 55px;
  height: 10px;
  width: 70px;
  opacity: 0.5;
}
.seta-right-2 img {
  left: 920px;
  top: 55px;
}
.instagram-foto-wrap:hover a{
  position: relative;
  opacity: 1;
  cursor: pointer;
}
.instagram-block-title a{
  opacity: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.instagram-foto-wrap {
  background-color: #000000;
  width: 225px;
  height: 225px;
}
.instagram-block {
  position: absolute;
  right: 595px;
  top: 70px;
  text-align: center;
}
.instagram-container__foto-1:hover {
  opacity: 0.3;
}
.quem {
  position: relative;
  width: 1280px;
  height: 280px;
}
.quem-container{
  position: absolute;
  width: 1265px;
  height: 280px;
  margin: 0;
  padding: 0;
  left: 130px;
  top: 110px;
  }  
.quem-container-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.quem-container__foto {
  height: 285px;
  width: 285px;
}
.main-product-slogan-3 {
  position: relative;
}
.main-product-slogan-3 .slogan-3 {
  position: absolute;
  width: 300px;
  height: 40px;
}
.slogan-3 p{
  font-size: 20px;
  height: 40px;
  width: 150px;
  margin: 0;
  top: 100px;
  left: 690px;
  font-family: 'Myriad Pro';
  text-align: center;
}
.seta-left-3 img,
.seta-right-3 img{
  position: absolute;
  height: 10px;
  width: 70px;
  opacity: 0.5;
}
.seta-right-3 img {
  top: 110px;
  left: 825px;
}
.seta-left-3 img {
  top: 112px;
  left: 630px;
}
.quem-block {
  position: absolute;
  right: 730px;
  top: 170px;
}
.quem-block-title a{
  opacity: 0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.quem-foto-wrap:hover a {
  opacity: 1;
}
.quem-foto-wrap {
  width: 285px;
  height: 285px;
  background-color: black;
  margin: 0;
}
.quem-container__foto-1:hover {
opacity: 0.3;
}
.footer {
  position: relative;
  width: 1600px;
  height: 120px;
  background-color: #ffffff;
  margin-top: 245px;
  margin-left: 130px;
}
.footer-wrap {
display: flex;
justify-content: space-between;
}
.footer-item-1 {
  background-color: #000000;
  width: 210px;
  height: 53px;
}
.footer-arrow-righ {
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 27px solid #000000;
  margin-left: 210px;
}
.footer-item-1__text {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  left: 30px;
  top: 13px;
  letter-spacing: 5px;
  text-shadow: #e5e5e5  1px 0 0;
}
.footer-item-2,
.footer-item-3 {
  position: absolute;
  width: 380px;
  height: 55px;
  opacity: 1;
  border: 2px solid #e5e5e5;
}
.footer-item-2 {
  left: 245px;
}
.footer-item-3 {
  left: 640px;
}
.footer-item-2__text,
.footer-item-3__text,
.footer-item-4__text {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  top: 13px;
  letter-spacing: 5px;
  text-shadow: #e5e5e5  1px 0 0;
}
.footer-item-2__text {
  left: 155px;
  color:#000000;
}
.footer-item-3__text {
  left: 65px;
  color:#d7d7d7;
}
.footer-item-4__text {
  color:#595959;
  font-weight: 700;
  left: 45px;
}
.footer-item-4 {
  position: absolute;
  width: 215px;
  height: 50px;
  right: 335px;
  background-color: #d0d0d0;
  box-shadow: #717274 -1px 5px 3px;
}
.links-block {
  width: 1600px;
  height: 35px;
  background-color: #000000;
}
.links-block-text {
  position: relative;
  width: 740px;
  height: 35px;
}
.text-item-1,
.text-item-2,
.text-item-3,
.text-item-4 {
  position: absolute;
  top: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
}
.text-item-1 {
  left: 135px;
}
.text-item-2 {
  left: 215px;
}
.text-item-3 {
  left: 310px;
}
.text-item-4 {
  left: 490px;
}
.links-block-icon {
  position: relative;
  width: 95px;
  bottom: 30px;
  left: 1310px;
}
.links-block-icon {
  color:#ffffff;
}
.links-item-icon .fab{
font-size: 20px;
margin-right: 10px;
}
.fa-instagram-square {
  border: 1px solid;
}
.navigation-wrap,
.basket-wrap {
  position: absolute;
  width: 560px;
  height: 600px;
  background-color:#ffffff;
  z-index: 20;
  border: 3px solid #000000;
}
.navigation-block,
.basket-block {
  width: 554px;
  top: 0px;
  height: 44px;
  position: absolute;
  z-index: 2;
  background-color: #000000;
}
.navigation-block-text,
.basket-block-text {
  position: absolute;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  left: 205px;
  top: 10px;
  letter-spacing: 1px;
}
.basket-block-text {
  left: 20px;
}
.navigation-block-img img {
  position: absolute;
  color: #ffffff;
  right: 10px;
  top: 30%;
  width: 20px;
  height: 20px;
}
.navigation-block-search {
  position: absolute;
  width: 554px;
  height: 60px;
  z-index: 2;
  top: 44px;
  background-color: #b1b1b1;
}
.navigation-block-search input {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #b1b1b1;
  height: 38px;
  width: 300px;
  top: 12px;
  left: 190px;
  border: none;
  padding-left: 10px;
}
.search {
  position: absolute;
  border: 1px solid #000000;
  background-color: #000000;
  padding: 5px 10px 7px 10px;
  color: #ffffff;
  top: 12px;
  right: 10px;
}
.class-unit {
  position: absolute;
  width: 554px;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid  #b1b1b1;
}
.unit-1 {
  top: 104px;
}
.unit-2 {
  top: 154px;
}
.unit-3 {
  top: 204px;
}
.unit-4 {
  position: absolute;
  top: 0;
}
.unit-5 {
  position: absolute;
  top: 50px;
}
.class-unit-text,
.category-text {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  top: 20px;
  left: 197px;
}
.class-unit-plus,
.category-text-arrow,
.class-unit-plus-3 {
  position: absolute;
  font-size: 15px;
  top: 20px;
  right: 20px;
}
.links-unit-icon .fab{
  position: relative; 
  width: 167px; 
  left: 445px;
  height: 65px;
  z-index: 2;
  margin-right: 12px;
  top: 410px;
  display: inline;
  font-size: 25px;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label + .navigation-wrap {
  display: none; 
}
/* вид текста label */
.hide + label,
.hide:checked + label {
  cursor: pointer;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + .navigation-wrap {
  display: block; 
}
.show, .show + label + .navigation-wrap {
  display: none;
}
.show + label, 
.show:checked + label {
  cursor: pointer;
}
.show:checked + label +  .navigation-wrap {
  display: none; 
}
.shadow-layer {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
}
.category-block-1,
.category-block-2,
.category-block-3,
.category-block-4 {
  position: absolute;
  width: 555px;
  height: 50px;
  background-color: #000000;
  border: 1px solid #808080;
  z-index: 5;
}
.category-block-wrap {
  position: relative;
  display: block;
  width: 555px;
  height: 195px;
  top: 50px;
}
.category-block-1 {
  top: 0;
}
.category-block-2 {
  top: 50px;
}
.category-block-3 {
  top: 100px;
}
.category-block-4 {
  top: 150px;
}
.category-text {
  color: #ffffff;
  top: 10px;
}
.category-text-arrow {
  color: #ffffff;
  font-size: 20px;
  top: 10px;
}
.class-unit-minus-3 {
  position: absolute;
  font-size: 15px;
  top: 15px;
  right: 18px;
  opacity: 1;
} 
.filter-wrap {
  position: relative;
  width: 554px;
  height: 140px;
  top: 254px;
  background-color: #ffffff;
  z-index: 3;
}
.basket-wrap {
  right: 80px;
}
.goods-1,
.goods-2 {
  position: absolute;
  top: 44px;
  width: 554px;
  height: 120px;
  border: 1px solid #b1b1b1;
}
.goods-2 {
  top: 164px;
}
.goods-foto,
.goods-foto-2 {
  position: absolute;
  width: 70px;
  height: 120px;
  top: 0;
}
.goods-text,
.goods-text-2 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  left: 75px;
  top: 5px;
}
.goods-close,
.goods-close-2 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 19px;
  left: 327px;
  top: 5px;
  color: #000000;
  border: 2px solid #000000;
  padding: 0px 7px 0px 7px;
}
.goods-item-1,
.goods-item-1_2 {
  position: absolute;
  top: 35px;
  left: 75px;
  width: 23px;
  height: 22px;
  background-color: #000000;
}
.goods-item-2 p,
.goods-item-4,
.goods-item-2_2 p,
.goods-item-4_2 {
  position: absolute;
  top: 86px;
  left: 75px;
  width: 23px;
  height: 23px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border: 2px solid #000000;
}
.goods-item-3,
.goods-item-3_2 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  top: 86px;
  left: 104px;
  width: 37px;
  height: 23px;
  text-align: center;
  background-color: #d1d1d1;
}
.goods-item-4  {
  left: 146px;
}
.goods-cost,
.goods-cost-2 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  top: 86px;
  left: 304px;
  font-size: 17px;
}
.total-continuar {
  position: absolute;
  width: 205px;
  bottom: 0;
  height: 70px;
  padding-top: 9px;
}
.total-continuar p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: #b3b3b3;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.total-checkout {
  position: absolute;
  width: 350px;
  bottom: 0;
  height: 70px;
  left: 205px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #000000;
}
.total-checkout p{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
}
.total-checkout img {
  position: absolute;
  left: 136px;
  bottom: 28px;
  width: 11px;
}
.total-block {
  position: absolute;
  bottom: 70px;
  width: 554px;
  height: 40px;
  background-color: #dcdcdc;
}
.text-1,
.text-2 {
  position: absolute;
  top: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
}
.text-1 {
  left: 10px;
}
.text-2 {
  left: 285px;
  font-weight: 300;
}