main {
  background-color: #ffffff;
}
.baner {
  position: relative;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
}
.baner-title {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.circle, .circle-1 {
  position: relative;
  display:inline-block;
  background: #c5c5c5;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.circle-1 {
  background: #000000;
}
.baner-circle {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 180px;
}
.carousel-inner {
  height: 700px;
  background-color: #ffffff;
}
.slide {
  position: relative;
}
.slide-tagline, .slide-tagline-1 {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  z-index: 1;
  font-weight: 500;
  font-size: 30px;
  top: 275px;
  left: 190px;
}
.slide-tagline-1 {
  top: 385px;
  font-size: 20px;
  font-weight: 500;
  border:2px solid #000000;
  padding: 1px 10px 1px 10px;
  left: 217px;
}
.slide-style {
  position: absolute;
  z-index: 1;
  top: 330px;
  font-family: 'Courier New', sans-serif;
  font-size: 20px;
  left: 165px;
}
 hr {
   position: absolute;
  border: none;
  background-color: #000000;
  height: 1.25px;
  top: 300px;
  z-index: 1;
  width: 275px;
  left: 138px;
}
.vertical-slider {
  background-color: black;
}
.carousel-indicators li {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #ffffff;
  border: 1px solid 0.7;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #000000;
}
.header-menu_nav {
  position: relative;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border: none;
}
.navbar-btn {
  position: absolute;
  padding: .25rem .75rem;
  left: 185px;
  font-size: 33px;
  line-height: 1;
  background-color: transparent;
  border: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.logo {
  position: absolute;
  font-family:'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  left: 680px;
}
.login {
  position: absolute;
  font-family:'Rajdhani', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  right: 250px;
}
.carrinho img{
  position: absolute;
  right: 185px;
  height: 24px;
  top: 5px;
}
span p{
  position: absolute;
  font-family:'Rajdhani', sans-serif;
  right: 202px;

  font-weight: 500;
  color: #000000;
}
.circle-nav {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 200px;
  background-color: #ffffff;
  border: 1px solid 0.7;
  border-radius: 50%;
}
.main-product-wrapper {
  display: flex;
  width: 1280px;
  height: 420px;
  margin-top: 60px;
  margin-left: 185px;
}
.main-item img {
  width: 190px;
  height: 325px;
  padding-right: 15px;
}
.main-item:nth-child(4) {
  padding-left: 15px;
}
.prev-left {
  position: absolute;
  color: #d1d1d1;
  left: 160px;
  top: 155px;
}
.prev-left i, .prev-right i{
font-size:30px;
}
.prev-right {
  position: absolute;
  color: #d1d1d1;
  right: 175px;
  top: 155px;
}
.cost {
  font-family:'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}
.main-product-slogan {
  position: relative;
  left: 60px;
}  
.seta-left img {
  position: absolute;
  bottom: 20px;
  left: 490px;
}
.seta-right img {
  position: absolute;
  bottom: 20px;
  left: 860px;
}
.slogan p {
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 25px;
  left: 580px;
  bottom: -8px;
}
a.rollover {
background: url(./img/bg-produto-3.png);
display: block;
width: 185px;
height: 325px;
} 
a.rollover:hover {
  background: url(./img/bg-produto-3.2.png);
}
.main-item-3 p{
  position: absolute;
  opacity: 0;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: 1px solid;
}
.main-item-3:hover p{
  opacity: 1;
  height: 30px;
  width: 185px;
  bottom: 80px;
  background-color: #4d4c4c;
  cursor: pointer;
}
/* блок categoriasDestaque */
.gallery__item-block,
.gallery__item-block-1 {
  position: relative;
}
.gallery__item-block a{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  width: 275px;
  height: 30px;
  bottom: 215px;
  text-align: center; 
  text-shadow: #000000 3px 0 0;
} 
.gallery__item--1 a,
.gallery__item--2 a{
  position: absolute;
  left: 25%;
}
.gallery__item--3 a,
.gallery__item--6 a{
  position: absolute;
  left: 35%;
}
.gallery__item--4 a,
.gallery__item--5 a{
  position: absolute;
  left: 10%;
}
.gallery__item,
.gallery__item-1 {
  margin: 0;
  padding: 0;
}
.gallery__item:hover a{
  opacity: 1;
  cursor: pointer;
  text-shadow: #595959 5px 0 0;
} 
.gallery__item-1:hover a {
  opacity: 1;
  cursor: pointer;
}
.gallery__item-link span{
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  text-shadow:none;
}
.gallery__img:hover {
  opacity: 0.6;
}
.gallery__img-1, 
.gallery__img {
  width: 100%;
  height: 100%;
}
.gallery__item-title h3{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

/* grid товаров */
.products-icon img {
  position: relative;
  bottom: 30px;
  left: 680px;
}
.products_container {
  width: 1280px;
  height: 1400px;
  margin-left: 130px;
}
.product-gallery {
  display: grid;
  grid-template-columns:300px 300px 300px 300px;
  grid-template-rows: 450px 450px 450px;
  grid-gap:20px;
}
.gallery__item {
  margin: 0;
  padding: 0;
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block; 
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #000000;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.gallery__item--4 {
  grid-column-start:4;
  grid-column-end: 4;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.gallery__item--6 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.instagram {
  position: relative;
  width: 1280px;
  height: 280px;
}
.instagram-container {
  position: absolute;
  width: 1265px;
  height: 280px;
  margin: 0;
  padding: 0;
  left: 130px;
  top: 110px;
}
.instagram-container-wrap {
  display: flex;
  justify-content: space-between;
}
.instagram-container__foto {
  height: 225px;
  width: 225px;
  background-color: #6d6e71;
  padding: 0;
  margin: 0;
}
.main-product-slogan-2 {
  position: relative;
   width: 440px;
   height: 40px; 
}
.slogan-2 p{
  position: absolute;
  width: 300px;
  height: 40px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 25px;
  left: 665px;
  top: 47px;
  margin: 0;
  padding: 0;
}
.seta-left-2 img,
.seta-right-2 img {
  position: absolute;
  left: 580px;
  top: 60px;
  height: 10px;
  width: 70px;
  opacity: 0.5;
}
.seta-right-2 img {
  left: 920px;
  top: 60px;
}
.instagram-block {
  position: relative;
}
.insta-like .fa-heart {
  position: absolute;
  color: #ffffff;
  right: 130px;
  top: 70px;
  font-size: 25px;
}
.insta-sign p{
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  width: 110px;
  right: 75px;
  top: 100px;
}
